/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");*/

:root {
  --highlight: #5756e6;
  --background: #022359;
  --shadow: #8f9cd4;
  --descript: #a4a9b6;
  --input-placeholder: #d8ddf0;
  --white: #fff;
  --background-w: #d8ddf0;
  --border-rad: 32px;
} 